* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
}

window#waybar {
    background: rgba(20, 30, 60, 0.35);
    border-radius: 16px;
    backdrop-filter: blur(18px);
    padding: 6px;
    margin: 10px 14px;
}

/* GENERAL MODULE STYLE */
#custom-startmenu,
#custom-weather,
#hyprland-workspaces,
#clock,
#custom-perf_toggle,
#custom-performance,
#pulseaudio,
#network,
#battery {
    background: rgba(255, 255, 255, 0.10);
    padding: 6px 14px;
    margin: 0 6px;
    border-radius: 12px;
    color: #d8e6ff;
}

/* WORKSPACES GLOW */
#workspaces button.active {
    background: rgba(80, 140, 255, 0.35);
    border-radius: 50%;
    box-shadow: 0 0 8px #4da3ff;
    color: white;
}

/* PERFORMANCE BOX */
#custom-performance {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

/* CLOCK EMPHASIS */
#clock {
    background: rgba(80, 140, 255, 0.55);
    border-radius: 12px;
    color: black;
}
