/* ===== QuantumArch macOS-like Waybar ===== */

* {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px;
}

/* Main bar container */
#waybar {
    background: rgba(12,12,14,0.45);
    backdrop-filter: blur(12px) saturate(150%);
    margin: 10px;
    padding: 4px 8px;
    border-radius: 14px;
}

/* Launcher */
#custom-launcher {
    background: #89b4fa;
    padding: 6px 12px;
    margin-right: 10px;
    border-radius: 12px;
    color: #11111b;
}

/* Workspaces */
#workspaces {
    display: flex;
    gap: 8px;
    padding: 6px;
    background: rgba(255,255,255,0.02);
    border-radius: 12px;
}

#workspaces button {
    padding: 6px 10px;
    border-radius: 9px;
    background: transparent;
    color: #7f8296;
}

#workspaces button.active {
    background: rgba(51,204,255,0.2);
    border: 1px solid rgba(51,204,255,0.3);
    color: #e8fefe;
}

/* Clock */
#clock {
    padding: 6px 18px;
    border-radius: 12px;
    background: rgba(255,255,255,0.02);
    border: 2px solid rgba(137,180,250,0.3);
}

/* Modules Right */
#network, #pulseaudio, #battery, #tray, #custom-power {
    padding: 6px 12px;
    border-radius: 12px;
    background: rgba(255,255,255,0.02);
    margin-left: 10px;
}
