* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
}
window#waybar { background: transparent; }

/* Modul Utama (Pill Shape & Glass) */
#custom-launcher, #workspaces, #clock, #pulseaudio, #network, #battery {
    background: rgba(30, 30, 46, 0.85);
    color: #cdd6f4;
    padding: 0 16px;
    margin: 0 4px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces button.active {
    color: #33ccff;
    background: rgba(51, 204, 255, 0.15);
    border-radius: 15px;
}

/* --- POWER DRAWER --- */
#custom-power {
    background: #ff5555;
    color: #ffffff;
    padding: 0 14px;
    border-radius: 20px;
    margin-left: 5px;
}
/* Isi Laci */
#custom-lock, #custom-reboot, #custom-quit {
    background: rgba(30, 30, 46, 0.9);
    color: #cdd6f4;
    padding: 0 15px;
    margin-right: 5px;
    border-radius: 20px;
}
#custom-lock:hover { background: #33ccff; color: #000; }
#custom-quit:hover { background: #ff0000; color: #fff; }
