* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(20, 20, 30, 0.6); /* Quantum Dark Glass */
    color: #cdd6f4;
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    backdrop-filter: blur(10px); /* Efek Blur macOS */
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #33ccff;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: 15px;
}

#workspaces button.active {
    color: #33ccff; /* Quantum Cyan */
    text-shadow: 0 0 5px #33ccff;
}

#custom-launcher {
    font-size: 20px;
    color: #33ccff;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}

#window {
    color: #ffffff;
    margin-left: 10px;
    font-weight: bold;
}

/* Modules Right Styling (Pill Shape) */
#pulseaudio, #network, #battery, #clock, #custom-power {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 15px;
}

#clock {
    background-color: #33ccff;
    color: #000000; /* Text hitam agar kontras dengan cyan */
    margin-right: 10px;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #bf5656;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    background-color: #ff5555;
    color: #ffffff;
    margin-right: 15px;
    padding-right: 18px; /* Sedikit adjustment agar icon center */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
