* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

window {
    /* Background layar penuh transparan gelap */
    background-color: rgba(10, 10, 15, 0.85);
}

button {
    color: #ffffff;
    background-color: rgba(30, 30, 46, 0.6); /* Quantum Dark Grey */
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 20px; /* Rounded ala macOS Sonoma */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
    background-color: #33ccff; /* Quantum Cyan Highlight */
    color: #000000; /* Teks jadi hitam saat hover agar kontras */
    border-color: #33ccff;
    outline-style: none;
    box-shadow: 0 0 15px 2px rgba(51, 204, 255, 0.4); /* Efek Glow */
}

/* Mapping Ikon Standar wlogout */
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
